-- CreateTable
CREATE TABLE "foods" (
    "id" SERIAL NOT NULL,
    "name_en" TEXT,
    "name_cz" TEXT,
    "category" TEXT,
    "origin" TEXT,
    "kcal" DOUBLE PRECISION,
    "protein" DOUBLE PRECISION,
    "carbs" DOUBLE PRECISION,
    "fat" DOUBLE PRECISION,
    "fiber" DOUBLE PRECISION,
    "sugar" DOUBLE PRECISION,
    "sodium" DOUBLE PRECISION,
    "vitamin_a" DOUBLE PRECISION,
    "vitamin_c" DOUBLE PRECISION,
    "calcium" DOUBLE PRECISION,
    "iron" DOUBLE PRECISION,
    "source" TEXT,
    "image_url" TEXT,
    "lang" JSONB,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "accuracy_score" DOUBLE PRECISION DEFAULT 0.0,
    "alcohol" DOUBLE PRECISION,
    "biotin_b7" DOUBLE PRECISION,
    "caffeine" DOUBLE PRECISION,
    "cholesterol" DOUBLE PRECISION,
    "choline" DOUBLE PRECISION,
    "chromium" DOUBLE PRECISION,
    "composition" JSONB,
    "copper" DOUBLE PRECISION,
    "dish_name" TEXT,
    "folate_b9" DOUBLE PRECISION,
    "iodine" DOUBLE PRECISION,
    "is_global" BOOLEAN DEFAULT false,
    "magnesium" DOUBLE PRECISION,
    "manganese" DOUBLE PRECISION,
    "molybdenum" DOUBLE PRECISION,
    "monounsaturated_fat" DOUBLE PRECISION,
    "niacin_b3" DOUBLE PRECISION,
    "omega_3" DOUBLE PRECISION,
    "omega_6" DOUBLE PRECISION,
    "pantothenic_b5" DOUBLE PRECISION,
    "phosphorus" DOUBLE PRECISION,
    "polyunsaturated_fat" DOUBLE PRECISION,
    "potassium" DOUBLE PRECISION,
    "region" TEXT DEFAULT 'global',
    "riboflavin_b2" DOUBLE PRECISION,
    "selenium" DOUBLE PRECISION,
    "thiamin_b1" DOUBLE PRECISION,
    "trans_fat" DOUBLE PRECISION,
    "vitamin_b12" DOUBLE PRECISION,
    "vitamin_b6" DOUBLE PRECISION,
    "vitamin_d" DOUBLE PRECISION,
    "vitamin_e" DOUBLE PRECISION,
    "vitamin_k" DOUBLE PRECISION,
    "water" DOUBLE PRECISION,
    "zinc" DOUBLE PRECISION,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "foods_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_name_en" ON "foods"("name_en");

